<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="https://mdbgo.com/">
        <img
          src="https://play-lh.googleusercontent.com/O8r8IcfYma-NeQ7ffITratRYcaIqrVRLr8Lg40laqicUCCSA7CcxRq750mGDNC2uWvdt"
          height="50"
          alt=""
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">SuperFresh</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-link px-3 me-2" routerLink="/dashbord">
            Home
          </button>
          <button type="button" class="btn btn-link px-3 me-2" routerLink="/menu">
            Menu
          </button>
          <button type="button" class="btn btn-link me-3" routerLink="/contact">
            Contacts
          </button>
          <a
            class="btn btn-success px-3"
            routerLink=""
            role="button"
            ><i class="fas fa-sign-out-alt">log out</i></a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->