<app-header></app-header>
<app-cont></app-cont>

<div class="container d-flex mt-5 text-center justify-content-center mb-5" >
<div><i class="fas fa-phone-square fa-5x" style="color:#7fad39 ;"></i>
    <h4 class="mt-3" style="color: black;" >9496521283</h4>

</div>
<div class="ms-5 ">
    <i class="fas fa-map-marker-alt fa-5x  " style="color:#7fad39 ;"> </i>
    <h4 class="mt-3" style="color: black;">Kodugallur,thrissur</h4>
</div>
<div class="ms-5 ">
    <i class="far fa-clock fa-5x"  style="color:#7fad39 ;">
    </i>
    <h4 class="mt-3" style="color: black;">9.00 am to 11.00 pm</h4>
</div>
<div class="ms-5">
    <i class="far fa-envelope fa-5x" style="color:#7fad39 ;" ></i>
<h4 class="mt-3" style="color: black; ">superfresh@gmail.com</h4>
</div>

</div>

<app-footer></app-footer>
