<div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark p-3" data-mdb-ride="carousel">

  
    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="https://img1.wsimg.com/isteam/stock/2416/:/cr=t:0%25,l:0%25,w:100%25,h:500px25 " class="d-block w-100" alt="Motorbike Smoke"/>
        <div class="carousel-caption d-none d-md-block">
          <h1 class=" p-5">Contact Us</h1>
          
        </div>
      </div>