.login{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/png-vector/20200530/ourmid/pngtree-many-fresh-vegetables-and-fruits-png-image_2214158.jpg');
    height: 100%;
    width: 100vw;
    object-fit:fill;
    background-size: contain;
    /* background-repeat: no-repeat; */
}
.form-outline .form-control.form-control-lg {
    font-size: 1rem;
    line-height: 4.15 !important;
}